annotated-types==0.7.0
anyio==4.12.0
bedrock-agentcore==1.1.1
boto3==1.42.7
botocore==1.42.7
cfgv==3.5.0
click==8.3.1
distlib==0.4.0
filelock==3.20.0
h11==0.16.0
identify==2.6.15
idna==3.11
jmespath==1.0.1
nodeenv==1.9.1
platformdirs==4.5.1
pre_commit==4.5.0
pydantic==2.12.5
pydantic_core==2.41.5
python-dateutil==2.9.0.post0
PyYAML==6.0.3
s3transfer==0.16.0
six==1.17.0
starlette==0.50.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.1
uvicorn==0.38.0
virtualenv==20.35.4
websockets==15.0.1
